<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
      dignissimos! Vero, iste alias? Eius explicabo ut ratione eligendi illo
      error.
    </p>
  </div>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum,
        assumenda?
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-right">
  <div class="block--dark-header container">
    <h2>Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
      dignissimos! Vero, iste alias? Eius explicabo ut ratione eligendi illo
      error.
    </p>
  </div>
</section>
<script src="js/main.js"></script>
