<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae autem
    voluptas omnis ratione molestias, culpa quia fugiat, laborum dicta facilis
    quis expedita aperiam asperiores sint nulla sequi quasi nisi aliquam?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__owner">John Smith</h3>
        <p class="quote__organization">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
